<h1 class="text-center">this is a admin page</h1>

<a href="admin/student-registered" class="btn btn-primary">student-register</a>
<a href="admin/teacher-registered" class="btn btn-primary">teacher-register</a>
<a href="admin/subject" class="btn btn-primary">subject</a>
{{!-- <a href="admin/mail" class="btn btn-primary"></a> --}}
<a href="admin/edit-home" class="btn btn-primary">edit home</a>

<a href="/attendence" class="btn btn-primary">attendence</a>


<a href="destroy" class="btn btn-primary">logout</a>
