 <script src="javascripts/home.js"></script>

<a href="home"></a>

<section id="home">
    <div class="mt-3 h5">
        <form action="home" method="post" enctype="multipart/form-data">
        
        <div class="mt">
                    <label for="">Home</label>

                    <input type="file" name="image" id="image">

                      <input type="submit" value="submit">
                </div>


        </form>
    </div>
</section>
<hr>
<br><br><br><br>
<section id="home">
    <div class="mt-3 h5">
        <form action="course" method="post" enctype="multipart/form-data">
        
        <div class="mt">
                    <label for="">course name</label>

                    <input type="text" name="name" id="">

                    <label for="">course description</label>

                    <input type="text" name="Description">

                    {{!-- <input type="file" name="image"> --}}

                      <input type="submit" value="submit">
                      
                </div>


        </form>
    </div>
</section>

<hr>
<br><br><br><br>
<section id="home">
    <div class="mt-3 h5">
        <form action="facilty" method="post" enctype="multipart/form-data">
        
        <div class="mt">
                    <label for="">facilty name</label>

                    <input type="text" name="name" id="">

                    <label for="">facilty descrition</label>

                    <input type="text" name="Description">
                    <label for="">facilty image</label>
                    <input type="file" name="image">



                     <input type="submit" value="submit">
                </div>


        </form>
    </div>
</section>

<br><br><br><br>
<hr>
<section id="home">
    <div class="mt-3 h5">
        <form action="staff" method="post" enctype="multipart/form-data">
        
        <div class="mt">
                    <label for="">staf name</label>

                    <input type="text" name="name" id="">

                    <label for="">title</label>

                    <input type="text" name="title">
                    <label for="">staf image image</label>

                    <input type="file" name="image">


                        <input type="submit" value="submit">
                </div>


        </form>
    </div>
</section>
<br><br><br><br>
<hr>
<section id="home">
    <div class="mt-3 h5 ">
        <form action="alumini" method="post" enctype="multipart/form-data">
        
        <div class="mt">
                    <label for="">alumini name</label>

                    <input type="text" name="name" id="">

                    <label for="">title</label>

                    <input type="text" name="title">

                    <label for="">staf image image</label>

                    <input type="file" name="image">

                    <input type="submit" value="submit">
                      
                </div>


        </form>
    </div>
</section>

