:root{
    --Base-color:#351F40;
    --college-color:#FFF7F7;
    --Login-box:#634A7C;
    --paceholder-col:#917DAB;
    --Login-btn:#8359AD;


}

.background{
     background: var(--Base-color);
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;

     
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
  
.login-box{
    width: 436px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: var(--Login-box);
}

.login-box form{
    font-size: 20px;

}

.login-box .form-group{
    margin-bottom: 12px;
}

.login-box form input[type="submit"]{
    font-size: 20px;
    margin-top: 15px;
}


/* User error */

.User-error{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    
}

/* --User error*/

.btn{
    background-color: var(--Login-box);
    margin-left: 10vh;
}

/* /College Logo/ */

.heading{
    text-align: center;
    color: var(--college-color);
    font-family: 'Times New Roman', Times, serif;
}

/* --// College logo*/

/* Form-Label*/
.form-label{
    color: var(--college-color);
}

/* /--//Form-label/ */