<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center">attendence</h1>
    <div class="w-25 mx-auto mt-5">
<form action="attendence" method="post">

   <div class="mt">
                    <label  class="labelss" >course</label>
                    <select class="form-control input-form" name="course">
                        <option value="">Select </option>
                        <option value="Bsc Computer science">Bsc Computer science</option>
                        <option value="Bsc Electronics">Bsc Electronics</option>
                        <option value="Bcom">Bcom</option>
                      </select>
                </div>
                <div class="mt">
                    <label  class="labelss" >year</label>
                    <select class="form-control input-form" name="year" >
                        <option  value="">Select </option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                </div>
                     
     
    <label  class="labelss" >subject</label>
                    <select class="form-control input-form" name="subject" >
                        <option  value="">Select </option>
                        <option value="CN">CN</option>
                        <option value="android">android</option>
                        <option value="software">software</option>
                      </select>

    
        aswin
        <input type="checkbox" name="name" id="" value="CZASUS023"><br>
        lijin
        <input type="checkbox" name="name" id="" value="CASSSS"><br>
        ambro
        <input type="checkbox" name="name" id="" value="CZASUS0230"><br>
    

        <input type="submit" value="submit" class="btn btn-primary">

        </form>
    </div>
</body>
</html>