<section>
    <div class="mt-3">
    <a href="student-login" class="btn btn-primary">student login</a>
    </div>
<div class="mt-3">
    <a href="teacher-login" class="btn btn-primary">teacher login</a>
    </div>
</section>