<link rel="stylesheet" href="/stylesheets/login/login.css">
<body class="background">

    <div class="content-wrapper"> 

        <div class="row">
            <div class="heading">
                <h1 class="ihrd">IHRD</h1>
                <h6>C O L L E G E</h6>
            </div>
        </div>

        <div class="login-box">
            {{#if noUser}}
               <div class="User-error text-danger text-center"><p>User not found</p></div>
            {{/if}}
            
            {{#if passwordNotMatch}}
                <div class="User-error text-danger text-center"><p>Incorrect password</p></div>
            {{/if}}
          
          <form action="/teacher-login" method="post">

            <div class="form-group">
                <label class="form-label" for="id">Email ID</label>
                <input class="form-control" placeholder="Enter your Email" type="text" id="college-id" name="email"    oninput="this.value = this.value.tolowerCase()">
            </div>

            <div class="form-group">
                <label class="form-label" for="id">Password</label>
                <input class="form-control" placeholder="Enter your password" type="password" id="college-pwd" name="password">
            </div>

                 <button class="btn w-50" type="submit">LOGIN</button>
                 

          </form>
          </div>

    </div>
