<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xm-9 my-3" >
               <a href="/student-login" class="btn btn-primary">Student login</a>
            </div>
            <div class="col-xm-9 my-3">
               <a href="/teacher-login" class="btn btn-primary">Teacher login</a>
            </div>
            <div class="col-xm-9 " >
               <a href="/admin" class="btn btn-primary"> admin</a>
            </div>
        </div>
    </div>
</section>