<body data-bs-spy="scroll" data-bs-target=".navbar">
   <link rel="stylesheet" href="/stylesheets/main/style.css">
<!-- Navigation bar-->

<nav class="navbar navbar-expand-md flex-column-lg  navedit fixed-top" >
    <div class="container flex-lg-column bar">
    
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-label="Expand Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
             <ul class="navbar-nav flex-lg-column">
            <li class="nav-item">
                <a href="#home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#course" class="nav-link">Course</a>
            </li>
            <li class="nav-item">
                <a href="#facilities" class="nav-link">Facilities</a>
            </li>
            <li class="nav-item">
                <a href="#events" class="nav-link">Events</a>
            </li>
            <li class="nav-item">
                <a href="#staff" class="nav-link">Staff</a>
            </li>
            <li class="nav-item">
                <a href="#alumnis" class="nav-link">Alumnis</a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link">Contact us</a>
            </li>
             </ul>
         </div>

    </div>
  </nav>

<!--//Navigation  bar-->

<!--Content wrapper-->
<div id="content-wrapper">

 <section id="home">
          
<div class="container">
    <div class="row">
        <div class="col">
            <img class="ihrd-image" src="./images/1671454522604.png" alt="not working">

           <a href="login-select"><button class="login-btn">Login</button></a> 

        </div>
    </div>

    <div class="row">
        <h1 class="welcome-header">Welcome to College of applied science kuzhalmannam,<br> kottayi</h1>
    </div>

    <div class="row">
        <p class=" text-light">
            The College of Applied Science, Kuzhalmannam, Kottayi managed by Institute
            of Human Resources Development (IHRD), a Kerala Government Undertaking is situated in Kottayi
            village near by Kottayi Panchayat Office in Palakkad district. This is a self-financing institution
            and is affiliated to the University of Calicut. Established in July 2008 – the
            college offers UG programs in B.Sc. Electronics, B. Sc. Computer Science and B Com with Computer
            Applicationunder Choice Based Credit Semester System (CUCBCSS) .
        </p>
    </div>

    </section>

<!--Courses-->
    <section id="course" class="full-height">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
    
                    <div>
                        <h2>Bsc Computer science</h2>
                    </div>
                    <div class="courses p-4 bg-base rounded-4 shadow-effect">
                        <div class="iconbox rounded-3">
                            <i class="fa-sharp fa-solid fa-computer"></i>
                        </div>
                        <p class="text-light course-dis mt-2">Candidates who have passed (eligible <br> for higher studies)
                            the HSE or an
                            <br> equivalent
                            examination with <br> Mathematics / Statistics / Computer Science/ <br> Computer Application/
                            Information Technology/
                            Additionalb <br> Mathematics as one of the subjects <br> are eligible for admission.
                        </p>
                    </div>
    
                </div>


                <div class="col-md-4">
    
                    <div>
                        <h2>Bsc Electronics</h2>
                    </div>
                    <div class="courses p-4 bg-base rounded-4 shadow-effect">
                        <div class="iconbox rounded-3">
                            <i class="fa-solid fa-microchip"></i>
                        </div>
                        <p class="text-light course-dis mt-2">Students who have  studied <br> Electronics/Physics/Mathematics
                             as one of the optional subjects 
                            at <br> Higher Secondary Examination level <br> and passed (eligible for higher studies) 
                            are eligible for <br> admission. <br>
                            (U.O.No.GA I/J1/2924/2005(2) dated 28.07.2005)
                        </p>
                    </div>
    
                </div>


                <div class="col-md-4">
    
                    <div>
                        <h2>B.com with computer Application</h2>
                    </div>
                    <div class="courses p-4 bg-base rounded-4 shadow-effect">
                        <div class="iconbox rounded-3">
                            <i class="fa-solid fa-money-check"></i>
                        </div>
                        <p class="text-light course-dis mt-2">A pass (eligible for higher studies) in the 
                            Higher Secondary Examination or its equivalent,
                             with at least one Commerce subject, is the eligibility for admission to the B.Com. Degree programme. 
                             Candidates who have not taken at least one Commerce subject for Higher Secondary or
                              an equivalent examination should get at least 45% (in 6 subjects) in that examination 
                              to become eligible to seek admission to B.Com programme. A concession of 5% will be given to OBC/OEC candidates.
                              The SC/ST candidates need get only a pass (eligible for higher studies (U.O.No. 
                            GA1/A2/1658/2007 dated 28.2.2008)
                        </p>
                    </div>
    
                </div>
                

            </div>
        </div>
    </section>
<!--//Courses-->

<!--Department-->

<section id="facilities" class="full-height">
    <div class="container">

        <div class="row">

            <div class="col-lg-2">
                <div class="facility">
                    <div class="facility-img">
                        <img src="./images/computerLab.jpg" alt="">
                    </div>
                </div>
            </div>

         </div>
    </div>
</section>

<!--// Department-->

</div>
<!--//Content wrapper-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/ec5b5f237d.js" crossorigin="anonymous"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/aos.js"></script>